@model MVCeTicaret.Models.Product

@{
	ViewBag.Title = "ProductDetail";
}

<div class="container">
	<div class="row" style="margin-top:50px;">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="@Url.Content(Model.ImageUrl)" alt="@Url.Content(Model.AltText)" />
			</div>
		</div>
		<div class="col-md-8">
			<h2>@Model.Name </h2>
			@{for (int i = 0; i < 5; i++)
				{
					<span class="glyphicon glyphicon-star" style="font-size:20px;color:orangered"></span>
				}
			}<br />
			<h3 style="color:orange;">Fiyatı: @string.Format("{0:C2}", Model.UnitPrice)</h3>
			<span style="background-color:gold"><strong>Stok Miktarı:</strong> @Model.UnitsInStock @Model.QuantityPerUnit</span><br /><br />

			@using (Html.BeginForm("AddToCart", "Shopping", new { id = Model.ProductID }, FormMethod.Post))
			{
				<p>
					<strong> Miktar: </strong>
					@{
						if (Model.UnitsInStock == 0)
						{
							<input type="number" name="miktar" value="0" min="0" max="@Model.UnitsInStock" onchange="denetle(this, @Model.UnitsInStock)" />
						}
						else
						{
							<input type="number" name="miktar" value="1" min="1" max="@Model.UnitsInStock" onchange="denetle(this, @Model.UnitsInStock)" />
						}
					}
				</p>
				<br /><br />
				if (Model.UnitsInStock == 0)
				{
					<button type="submit" class="btn btn-danger" disabled>Sepete Ekle</button>
				}
				else
				{
					<button type="submit" class="btn btn-danger">Sepete Ekle</button>
				}

				<a class="btn btn-warning" href="@Url.Action("AddToWishList","Shopping", new {id=Model.ProductID })" role="button">İstek Listesine Ekle</a>
			}

			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#description" data-toggle="tab">Ürün Açıklaması</a>
				</li>
				<li>
					<a href="#reviews" data-toggle="tab">Yorumlar</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="description">
					@Html.Raw(@Model.LongDescription)
				</div>
				<div class="tab-pane fade" id="reviews">
					<ul>
						@{
							foreach (var item in ViewData["Reviews"] as IEnumerable<MVCeTicaret.Models.Review>)
							{
								<li>
									<p><strong>@item.Name</strong> </p>
									<p>@item.Comment</p>
								</li>
							}
						}
					</ul>
					<hr />
					@{
						if (Session["OnlineKullanici"] != null)
						{
							<h4>Yorum Ekle</h4>
							<hr />
							using (Html.BeginForm("AddReview", "Product", new { id = Model.ProductID }, FormMethod.Post))
							{
								<p>
									<strong>Ürünü Oyla: </strong>
									<input type="number" min="1" max="5" value="5" name="rate" class="form-control" />
								</p>
								<p>
									<strong>Adınız: </strong>
									<input type="text" name="name" class="form-control" />
								</p>
								<p>
									<strong>Yorumunuz: </strong>
									<textarea rows="3" name="review" class="form-control"></textarea>
								</p>
								<input type="submit" class="btn btn-info form-control" value="EKLE" />
							}
						}
					}
				</div>
			</div>
		</div>
	</div>
</div>
@section scripts{

	<script>
		function denetle(inputElement, maxValue) {
			var value = $(inputElement).val();
			if (value > maxValue) {
				$(inputElement).val(maxValue);
			}
		}
	</script>
}
