@model IEnumerable<MVCeTicaret.Models.OrderDetail>
@{
	ViewBag.Title = "UpdateCart";
}

<h2>Sepettekileri Güncelle</h2>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Ürün Adı</th>
			<th>Ürün Görseli</th>
			<th>Sepetteki Miktar</th>
			<th>Stok Miktarı</th>
			<th>Sepetten Çıkar</th>
			<th>İstek Listesine Ekle</th>
			<th>Otomatik Miktar Güncelle</th>
		</tr>
	</thead>
	<tbody>
		@{
			foreach (var item in Model)
			{
				<tr>
					<td>@item.Product.Name</td>
					<td><img src="@Url.Content(item.Product.ImageUrl)" alt="@Url.Content(item.Product.AltText)" class="img-thumbnail" style="height:170px;" /></td>
					<td>@item.Quantity @item.Product.QuantityPerUnit</td>
					<td>
						@{
							if (item.Quantity < item.Product.UnitsInStock)
							{
								<span>
									@item.Product.UnitsInStock @item.Product.QuantityPerUnit
								</span>
							}
							else
							{
								<span style="color:red;font-weight:bold;">
									@item.Product.UnitsInStock @item.Product.QuantityPerUnit
								</span>
							}
						}
					</td>
					<td><a href="@Url.Action("RemoveFromCart","Shopping",new { id=item.OrderDetailID})" style="font-size:25pt;"><span class="glyphicon glyphicon-trash" style="width:75px;height:75px;color:red"></span></a></td>
					<td><a href="@Url.Action("AddToWishListFromCart","Shopping",new { id=item.OrderDetailID})"><span class="glyphicon glyphicon-heart" style="color:cornflowerblue;font-size:25pt;"></span></a></td>
					<td>
						@using (Html.BeginForm("UpdateQuantity", "Shopping", new { id = item.OrderDetailID }, FormMethod.Post))
						{
							<input type="number" value="@item.Quantity" min="1" max="@item.Product.UnitsInStock" name="quantity" />
							<button type="submit">
								<span style="color:green;" class="glyphicon glyphicon-ok"></span>
							</button>
						}
					</td>

				</tr>
			}
		}
	</tbody>
</table>
<hr />
@{
	if (Model.ToList().Count == 0)
	{
		<span class="lead">
			Sepetiniz Boş...
		</span>
	}
	else
	{
		@Html.ActionLink("SİPARİŞİ TAMAMLA", "GoToPayment", "Shopping", null, new { @class = "btn btn-success", @style = "float:right" })
	}
}


